<!DOCTYPE html>
<html>

<head>
    <title>Error 404 bad request</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>Bad request - {{info}}</h2>
    </div>

    {{>footer}}
</body>

</html>